.thead-color{
    background-color: #F3FCF8;
}
.tr-color{
    color: #323e73;
    font-size: 14px;
}
.panel-td-items{
    color: #323e73;
    opacity: 80%;
    font-size: 14px;
    padding: 13px !important;
}
.panel-th-items{
   color: #2eb5dd;
    font-size: 14px;
    padding-top: 13px !important;
    padding-right: 13px !important;
}
.green-hover{
    border-top: 1px solid #eeeeee;
}
.green-hover:hover{
    background-color: #F3FCF8;
}
.panel-alert{
    font-size: 10px;
}
.panel-table{
    box-shadow: 0 0 10px #E1F7ED;
}
.table-course-img{
    width: 45px;
    margin-left: 6px;
    border-radius: 2px;
}