.searchInputs {
  display: flex;
}

.Search-box {
  border: none;
  background: #FFFFFF;
  color: #198643 !important;
  width: 350px;
  box-shadow: 0 3px 10px #E1F7ED;
  border-radius: 5px;
}

.searchForHomePage input {
  border: none;
  background: #FFFFFF;
  color: #198643 !important;
  width: 400px;
  box-shadow: 0 3px 10px #E1F7ED;
  border-radius: 5px;
  position: relative;
}

.searchIcon {
  height: 30px;
  width: 50px;
  background-color: white;
  display: grid;
  place-items: center;
}

input:focus {
  outline: none;
}

.searchIcon svg {
  font-size: 25px;
  color: #198643 !important;
}

.controllerForHomePage {
  position: relative;
}


.dataResult {
  position: absolute;
  z-index: 10;
  margin-top: 5px;
  width: 100%;
  height: 200px;
  background-color: white;
  box-shadow: 0 3px 10px #e1f7ed;
  overflow: hidden;
  overflow-y: auto;

}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  /*width: 300%;*/
  height: 50px;
  display: flex;
  align-items: center;
  color: #323e73 !important;
  margin: 0 25% 0 0;
}

.dataItem p {
  margin-left: 10px;
}

a {
  text-decoration: none;
}

#clearBtn {
  cursor: pointer;
}


.titleHeader {
  font-size: 14px;
  color: #23A455;
  margin: 10px 10px 15px 0;
}

.itemsImg {
  height: 80%;
  width: 20%;
  position: absolute;
  right: 5px;

}

.holder {
  position: relative;
}

.emptyH1 {
  overflow: hidden;

}


