.employee-info {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  color: #323e73 !important;
}

.white-background{
  background-color: #F3FCF8;
  box-shadow: 0 3px 10px #E1F7ED;
  border-radius: 10px;
}

.employee-info > .img-container > .info-img {
  width: 180px;
  margin-top: 30px;
  border-radius: 50%;
}

.edit-btn {
  background: #323e73 !important;
  color: #F5E5FC !important;
}

.exit-btn {
  background: #e73d36;
  color: #F5E5FC !important;
}


.exit-btn:hover {
    background: #e73d36 !important;
    color: #F5E5FC !important;
  }
