.Image {
  position: relative;
  top: 130px;
  margin-bottom: 300px;
}

.Title {
  text-align: center;
}

.Info {
  margin: 200px auto;
  position: relative;
  top: 150px;
  color: #BFC3D6;
}

.Author {
  display: flex;
  justify-content: left;
}

.Date {
  display: flex;
  justify-content: right;
  position: relative;
  top: -42px;
}

.Topic {
  text-align: center;
  margin-bottom: 130px;
  position: relative;
  top: 50px;
}

.img {
  height: 423px;
}

.main {
  box-shadow: 0 3px 10px #E1F7ED;
  width: 50%;
  height: 100%;
  margin: 10px auto;
}
