.white-background{
  background-color: #F3FCF8;
  box-shadow: 0 3px 10px #E1F7ED;
  border-radius: 10px;
}

.text-aria {
  border: none;
  background: #FFFFFF;
  color: #198643 !important;
  box-shadow: 0 3px 10px #E1F7ED;
  border-radius: 5px;
}

.text-aria:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.text-aria::placeholder {
  padding-right: 8px;
  font-size: 15px;
}
.panel-user-upload{
  width: 57px;
}
.visibility-none{
  opacity: 0;
  position: relative;
  right: -6px;
  top: -27px;
}
.btn-upload{
  width: 130px;
  height: 50px;
  background-color: #FFFFFF;
  box-shadow: 0 3px 10px #E1F7ED;
  position: relative;
  right: 15px;
  top: 3px;
  border: 1px solid #C9E9D5;

}
.upload-avatar-text{
  font-size: 15px;
  color: #6247AA;
  position: relative;
  right: -5px;
  top: 6px;
}
.upload-icon{
  width: 27px;
  position: relative;
  top: 5px;
}
.upload-text-2{
  color: #6247AA;
  font-size: 15px;
  position: relative;
  right: 25px;
  top: 5px;
}
.btn-blue{
  background-color: #87A8D8;
  width: 90px;
  height: 35px;
  color: white;
}
.btn-green{
  background-color: #37AF7E;
  width: 90px;
  height: 35px;
  color: white;
}
.btn-green:hover{
  background-color: #198643;
  color: white;
}
.btn-green:focus{
  background-color: #198643;
  color: white;
}
.btn-blue:hover{
  background-color: #323e73;
  color: white;
}
.btn-blue:focus{
  background-color: #323e73;
  color: white;
}

.panel-title{
  font-size: 18px;
  color: #6247AA;
  position: relative;
  top: 15px;
}
.floating-btn-mr{
  position: relative;
  top: -25px;
}
.uploaded-img-position{
  position: relative;
  top: -70px;
  right: 45px;
}
.uploaded-img{
  border-radius: 5px;
}
