* {
    margin: 0;
    padding: 0;
}

.register-container {

  background: url("../../assets/images/background.png") repeat-x 30%;
  box-shadow: 0 3px 10px #e1f7ed !important;

}

.login-form .form-control {
    width: 100% !important;
    height: 33px;
    border: none;
    background: #ffffff;
    color: #198643 !important;
    box-shadow: 0 3px 10px #e1f7ed !important;
    border-radius: 5px;
}

.login-form .form-control:focus {
    border-color: #28a745 !important;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
}

.login-form .form-control2::placeholder {
    color: #198643;
    padding-right: 8px;
    opacity: 80%;
}

.btn-container {
    background: #82d8b9;
    width: 200px;
    margin: 0 auto;
}

.register-img {
    width: 400px;
    height: 380px;
    margin-right: 100px;
    margin-top: 80px;
}

.text-color {
    color: #323e73 !important;
}

.register-btn {
  background: #323e73 !important;
  color: #fff !important;
}

.register-btn:hover {
  background: #152e73 !important;
}

.pass-form {
  position: relative;
}

.pass-eye {
  position: absolute;
  left: 10px;
  top: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .register-container {
    background: url("../../assets/images/background.png") repeat-x;
  }
  .register-img {
    margin-left: 90px;
    width: 400px;
    height: 300px;
  }

}

@media only screen and (max-width: 500px) {
    .register-img {
        width: 300px;
        height: 250px;
    }
}
