.thead-color {
  background-color: #F3FCF8;
}

.tr-color {
  color: #323e73;
  font-size: 14px;
}

.course-td-items {
  color: #323e73 !important;
  font-size: 14px;
  padding: 10px !important;
}

.course-td-items-topics {
  color: #6247AA !important;
  font-size: 14px;
  padding: 10px !important;
}

.course-th-items {
  color: #2eb5dd !important;
  font-size: 12px;
  padding-top: 4px !important;
  padding-right: 10px !important;
  text-decoration: none;
}

.green-hover {
  border-top: 1px solid #eeeeee;
}

.green-hover:hover {
  background-color: #F3FCF8;
  cursor: pointer;
  border-radius: 5px;
}

.panel-alert {
  font-size: 10px;
}

.panel-table {
  box-shadow: 0 0 10px #E1F7ED !important;
  background-color: white;
  border-radius: 3px;
}

.course-img {
  width: 65px;
  border-radius: 2px;
}

.course-td-btn {
  padding: 10px !important;
}
.delete-color-admin{
  color: #d00000;
}
